// background
$home-bg: aqua;


// width
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

$w-10:10%;
$w-20:20%;
$w-30:30%;
$w-40:40%;
$w-60:60%;
$w-70:70%;
$w-80:80%;
$w-90:90%;

// height
$h-100:100%;
$h-75:75%;
$h-50:50%;
$h-25:25%;
$h-10:10%;
$h-20:20%;
$h-30:30%;
$h-40:40%;
$h-60:60%;
$h-70:70%;
$h-80:80%;
$h-90:90%;

// margin
$m-5:5px;
$m-10:10px;
$m-15:15px;
$m-20:20px;

// margin x direcction
$mx-5:0 5px;
$mx-10:0 10px;
$mx-15:0 15px;
$mx-20:0 20px;

// margin y direcction
$my-5:5px 0;
$my-10:10px 0;
$my-15:15px 0;
$my-20:20px 0;

//margin top
$mt-5:5px 0 0 0;
$mt-10:10px 0 0 0;
$mt-15:15px 0 0 0;
$mt-20:20px 0 0 0;

//margin bottom
$mb-5:0 0 5px 0;
$mb-10:0 0 10px 0;
$mb-15:0 0 15px 0;
$mb-20:0 0 20px 0;


//margin left
$ml-5:0 0 0 5px;
$ml-10:0 0 0 10px;
$ml-15:0 0 0 15px;
$ml-20:0 0 0 20px;

//margin right
$mr-5:0 5px 0 0;
$mr-10:0 10px 0 0;
$mr-15:0 15px 0 0;
$mr-20:0 20px 0 0;

// margin-negative
$mn-5:-5px;
$mn-10:-10px;
$mn-15:-15px;
$mn-20:-20px;

// margin-negative x direcction
$mx-n-5:0 -5px;
$mx-n-10:0 -10px;
$mx-n-15:0 -15px;
$mx-n-20:0 -20px;

// margin-negative y direcction
$my-n-5:-5px 0;
$my-n-10:-10px 0;
$my-n-15:-15px 0;
$my-n-20:-20px 0;

//margin top-negative
$mt-n-5:-5px 0 0 0;
$mt-n-10:-10px 0 0 0;
$mt-n-15:-15px 0 0 0;
$mt-n-20:-20px 0 0 0;

//margin bottom-negative
$mb-n-5:0 0 -5px 0;
$mb-n-10:0 0 -10px 0;
$mb-n-15:0 0 -15px 0;
$mb-n-20:0 0 -20px 0;

//margin negative left
$ml-n-5:0 0 0 -5px;
$ml-n-10:0 0 0 -10px;
$ml-n-15:0 0 0 -15px;
$ml-n-20:0 0 0 -20px;

//margin negative right
$mr-n-5:0 -5px 0 0;
$mr-n-10:0 -10px 0 0;
$mr-n-15:0 -15px 0 0;
$mr-n-20:0 -20px 0 0;

// padding
$p-5:5px;
$p-10:10px;
$p-15:15px;
$p-20:20px;

// padding x direcction
$px-5:0 5px;
$px-10:0 10px;
$px-15:0 15px;
$px-20:0 20px;

// padding y direcction
$py-5:5px 0;
$py-10:10px 0;
$py-15:15px 0;
$py-20:20px 0;

//padding top
$pt-5:5px 0 0 0;
$pt-10:10px 0 0 0;
$pt-15:15px 0 0 0;
$pt-20:20px 0 0 0;

//padding bottom
$pb-5:0 0 5px 0;
$pb-10:0 0 10px 0;
$pb-15:0 0 15px 0;
$pb-20:0 0 20px 0;



//padding left
$pl-5:0 0 0 5px;
$pl-10:0 0 0 10px;
$pl-15:0 0 0 15px;
$pl-20:0 0 0 20px;

//padding right
$pr-5:0 5px 0 0;
$pr-10:0 10px 0 0;
$pr-15:0 15px 0 0;
$pr-20:0 20px 0 0;